doctype html
html.h-100(lang="en")
  head
    title= Title
    // script(src=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100
    div.min-vw-100.container.border.bg-light.row.justify-content-center
      h1 i-Slack
    .container.h-100.overflow-hidden#chat
      div.container.h-100.overflow-hidden
        div.h-100
          div.h-75.row.justify-content-center
            div.spinner-grow.text-primary.align-self-center
              span.sr-only Loading...
      // block content
    script(src=assetPath('main.js'))
